
.top-spacer {
    margin-top: 3vh;
}

.text-display {
    font-size: 3em;
    height: 2em;
}

.bidi-character {
    font-size: 2em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.result-display {
    font-size: 3em;
    height: 2em;
    padding: 10px;
}